@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

@font-face {
  font-family: "Avenir-Medium";
  src: url('AvenirLTStd-Medium.otf');
}

@font-face {
  font-family: "Avenir-Black";
  src: url('AvenirLTStd-Black.otf');
}

@font-face {
  font-family: "Avenir-Heavy";
  src: url('AvenirLTStd-Heavy.otf');
}

body, html {
  margin: 0;
  padding: 0;
}

#Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #FEEE7D;
}

#Container {
  width: 824px;
  height: 391px;
}

#Header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#Header h1 {
  font-family: 'Merriweather', serif;
  font-size: 48px;
  color: #F15C5C;
  margin: 0 0 0 3px;
}

#Thermometer {
  fill: #F15C5C;
}

#Temperature-Info {
  font-family: "Avenir-Medium";
  font-size: 64px;
  color: #F15C5C;
  width: 558px;
}

#temperature {
  font-family: "Avenir-Black";
}

.Side-Info {
  position: relative;
  bottom: 279px;
  font-family: "Avenir-Heavy";
  font-size: 48px;
  color: #F15C5C;
  float: right;
}

.Side-Info p {
  margin: 0;
}

#temperatureMax {
  margin-bottom: 20px;
}

.label {
  font-size: 18px;
}

.number-1 {
  position: absolute;
  right: 60px;
  top: 14px;
  transform: rotate(-90deg);
}

.number-2 {
  position: absolute;
  right: 60px;
  top: 91px;
  transform: rotate(-90deg);
  font-size: 18px;
}

#footer {
  font-family: "Avenir-Medium";
  color: #F15C5C;
  position: absolute;
  bottom: 0;
}
